$TTL 300
$ORIGIN {{ domain }}.
@   IN  SOA ns1 root.{{ domain }}. (
    {{ ansible_date_time.epoch }}  ; Serial
    30m         ; Refresh
    3m          ; Retry
    2w          ; Expire
    1h          ; Negative Cache TTL
    )
    IN  NS  ns1
    IN  NS  ns2
    IN  MX  10  mail

ns1     IN  A   10.{{ room }}.{{ group }}.11
ns2     IN  A   10.{{ room }}.{{ group }}.12
mail    IN  A   10.{{ room }}.{{ group }}.20
webmail IN  A   10.{{ room }}.{{ group }}.21
mgmt    IN  A   10.{{ room }}.{{ group }}.22
