127.0.0.1       localhost
10.{{ room }}.{{ group }}.11  ns1.{{ domain }}  ns1
10.{{ room }}.{{ group }}.12  ns2.{{ domain }}  ns2
10.{{ room }}.{{ group }}.20  mail.{{ domain }}  mail
10.{{ room }}.{{ group }}.21  webmail.{{ domain }}  webmail
10.{{ room }}.{{ group }}.22  mgmt.{{ domain }}  mgmt
